html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

button{
    border-style: none;
    background-color:unset;
}