body{
    display: flex; /* para centralizar o quadro*/
    justify-content: center;
    align-items: center; /* para centralizar o quadro*/
    min-height: 100vh; /* para centralizar o quadro*/
    background-color: #E5E5E5;
}

.quadro{
    position: relative;
    display: flex; /* para centralizar o quadro*/
    margin: 0 auto; /* para centralizar o quadro*/
    align-items: center; /* para centralizar o quadro*/
    background-color: #FCFCFC;
    width: 655px;
    height: 347px;
    border-radius: 21px;
    padding: 60px 37px;
    box-shadow: 0px 20px 20px -10px #00000040;
}

.quadro .imagem{
    display: flex;
    position: absolute;
    width: 278px;
    height: 293px;
    transform: translateX(-45%);
}

.quadro .perguntas{
    margin-left: 190px;
    width: 390px;
}

.quadro .perguntas .titulo{
    font-size: 2.5rem;
    font-weight: 700;
}

.lista-perguntas .pergunta{
    /* background-color: yellow; */
    width: 390px;
    margin-top: 15px;
    cursor: pointer;
}

.lista-perguntas hr{
    color:#D4D4D4;
}

.lista-perguntas .pergunta .btn-pergunta{
    /* background-color: blue; */
    display: flex;
    width: 390px;
    font-size: 1.7rem;
    font-weight: 500;
    padding-right: 13px;
    justify-content: space-between;
    cursor: pointer;
}

.lista-perguntas .pergunta .btn-pergunta span{
    max-width: 100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.lista-perguntas .pergunta .btn-pergunta .seta{
    src: url('../image/seta.svg');
}

/* .lista-perguntas .pergunta .btn-pergunta .seta.aberta{
    src: url('../image/seta_aberta.svg');
} */

.lista-perguntas .pergunta .item-resposta{
    padding-top: 10px;
    padding-right: 43px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
}

.lista-perguntas .pergunta .item-resposta .resposta{
    font-size: 1.5rem;
    font-weight: 300;
}

.lista-perguntas .pergunta .item-resposta.ativo{
    height: 100%;
    opacity: 1;
    margin-bottom: 15px;
}

.seta{
    transition: transform .2s linear;
}

.pergunta:has(.ativo) .seta{
    transform: rotate(180deg);
}